language: android

jdk:
  - oraclejdk8

android:
  components:
    - tools
    - platform-tools
    - build-tools-28.0.2
    - android-28

before_install:
  - yes | sdkmanager "platforms;android-28"

script:
  - ./gradlew verGJF build

after_success:
  - .buildscript/deploy_snapshot.sh
  - ./gradlew jacocoTestReport coveralls

env:
  global:
    - secure: "jW5+cZ35F8m+xtznc8wTfIWIl25qgqWgo6cgipu+w+rC7UAcDHZhUV1M/4etJ84Nz5vYxwHn2MRvB7lXLA+FdpOovpngPBhfjs65GT0yn4cw4/oK6qRuHn3Fz1hm5aU4XGZTh40ay7fArDLThCkErQoQz5MOo/cLwPoMaMKAcUpYzuZAvE1ab5cV+uScjPgAaAB3CH+0YC9OPVyE9G9z137ZsYj/bWXzT/Rbk63RDqeI1GRqoSOxa3oNCQMuX/HamVUW1WYS3/WhXo/CQ0JMjBTgH6O2IykeKyT/X0Syeu1tTyOrSC8nedeq5IiFgslhs7kwU1AKziRj7ICX9acN2kHnWSXQ8CvHjWfu0P5RD3tEjGraxZovp5IWSS6RFZaFqY8hg7W038rR8elzUTWwrtHTuU5kGG0Kz4/EW0v1AR2NDE9hNRs0tgZ3paB5xC+2rir8IBVMzIQzF07OAELJyooNRFdE5zWx2KivGtM6MHu9kwPsrqC6iiu26z6HeVzOFB3oNSCNyK7gCovHXUQZByjmhJeX8KAIn6KwmichSuDU7dKuRv2jeD5QGVzvgkIAlxQQaKBOg2DBCXZJS4wYhLvOtDc/d01RRiZ34nHKNJL5LneG13uzaz0hzfkZ1zfV/775ccrsbay3RQ0u2v9tVay5n+tpQl9UZNASfAmiXdw="
    - secure: "EY29BoSgtBF11u815BFtmGx5Ne1QQFqNKIC5X8VNKklo+/fnB6EyRKTDICYH8LQZb3YOckhWjCeIUyUoffnuMuncMBRBoqpQqWtg6fqmGudwXWIbJ2VD+JoPoBYCwA5ZtlBH03aOZOzqO0SinZ7URKiNnvrHy/yrZvh8ostNZWfwf6hFcsRGfZRH3TtrUmDxohE8Go+wXrK5K6rs56so+JCw2SplONoL45AFiuukPv62G4S4ghFJ668iPXJNENRKXMuFHyWm38AgWIE+elK0r6bKj9MgQbzaXFPDz4zR6V8S/2VZNtCOpOTcYwZwosS94DLIz14nMXvDJKvcV5O0aFye35D12LErERTYnopxgVraO/rhXmAzRw2PRa+cPYgHuuZtadXykXe11NdnluTUKu8uaL0C+H5no+asHDOm/9EpDyARZSKnP2mFIVu33rrosIUcQVVgyMIt+9tdfFTgfyYTOpifdAo0GE8WT7fAOdA00mfSdlDg2xW9GAPhKjbrC5X82i9xxqbL6sDFa90epXtEDRyvQFJ9y1E+KVckD1bKN0H9t1o0I/JgAjeOFEUgIK/0jgN+ILeSyflh+80wIAbXowpBrIeCYEcsu8Is92Ruzsx5UBJSmB6VwwSLHXRdI8oDBDq2H6bbHP1KZIKVvhxYbBgfA0jwll1uC1nSlno="

notifications:
  email: false

sudo: false

cache:
  directories:
    - $HOME/.gradle
